@import "tailwindcss";

@theme {
  --font-sf: "SFMono", monospace;
  --font-chillax: "Chillax"
}

@font-face {
  font-family: "SFMono";
  src: url("/fonts/SFMono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chillax";
  src: url("/fonts/Chillax-Variable.ttf") format("truetype");
  font-weight: 100 900; /* variable font range */
  font-style: normal;
  font-display: swap;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
